/* リキッドレイアウト対応 */

body {
	font-family: "";
}

.u-desktop {
	display: none;
}

html {
	font-size: 16px;
}

/* pcの電話番号発信対応 */

/* ホバー */

a {
	color: inherit;
	text-decoration: none;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Remove default padding */

ul,
ol {
	padding: 0;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Set core root defaults */

html {
	scroll-behavior: smooth;
}

/* Set core body defaults */

body {
	line-height: 1.5;
	min-height: 100vh;
	text-rendering: optimizeSpeed;
}

/* Remove list styles on ul, ol elements with a class attribute */

ul,
ol {
	list-style: none;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
	-webkit-text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img {
	display: block;
	max-width: 100%;
	width: 100%;
}

/* Natural flow and rhythm in articles by default */

article > * + * {
	margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */

textarea,
select {
	font: inherit;
}

/* Blur images when they have no alt attribute */

img:not([alt]) {
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
	-webkit-filter: blur(10px);
	filter: blur(10px);
}

/* フォームリセット */

select,
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent;
	border: none;
	border-radius: 0;
	font: inherit;
	outline: none;
}

textarea {
	resize: vertical;
}

input[type=submit],
input[type=button],
label,
button,
select {
	cursor: pointer;
}

select::-ms-expand {
	display: none;
}

.container {
	display: block;
	margin-top: 30px;
	margin-top: 1.875rem;
}

.footer {
	background: rgb(65, 105, 225);
	display: block;
	padding: 0 20px;
	padding: 0 1.25rem;
	text-align: center;
}

.header {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: rgb(255, 105, 180);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 30px;
	height: 1.875rem;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	left: 0;
	padding: 0 20px;
	padding: 0 1.25rem;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 10;
}

.header a {
	display: block;
	font-size: 16px;
	font-size: 1rem;
}

button.js-drawer-menu {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: rgba(255, 192, 203, 0);
	border: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 30px;
	height: 1.875rem;
	padding: 5px;
	padding: 0.3125rem;
	width: 30px;
	width: 1.875rem;
}

button.js-drawer-menu span {
	background: rgb(51, 51, 51);
	display: block;
	height: 2px;
	height: 0.125rem;
	position: relative;
	width: 100%;
}

button.js-drawer-menu span::before {
	background: rgb(51, 51, 51);
	content: "";
	display: block;
	height: 2px;
	height: 0.125rem;
	left: 50%;
	position: absolute;
	-webkit-transform: translate(-50%, -8px);
	transform: translate(-50%, -8px);
	width: 100%;
}

button.js-drawer-menu span::after {
	background: rgb(51, 51, 51);
	content: "";
	display: block;
	height: 2px;
	height: 0.125rem;
	left: 50%;
	position: absolute;
	-webkit-transform: translate(-50%, 8px);
	transform: translate(-50%, 8px);
	width: 100%;
}

button.open span {
	background: rgba(51, 51, 51, 0);
}

button.open span::before {
	left: 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

button.open span::after {
	left: 0;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

div.js-drawer-menu-list {
	background: rgb(255, 255, 255);
	display: none;
	left: 0;
	margin-top: 50px;
	margin-top: 3.125rem;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}

div.js-drawer-menu-list-open {
	display: block;
}

.main {
	background: rgb(255, 215, 0);
	display: block;
	height: 200dvh;
	padding: 0 20px;
	padding: 0 1.25rem;
}

form.search-form input,
button.search-form-button {
	padding: 10px;
	padding: 0.625rem;
}

form.search-form input {
	display: block;
	-webkit-box-flex: 3;
	-ms-flex: 3;
	flex: 3;
	margin-right: 5px;
	margin-right: 0.3125rem;
}

button.search-form-button {
	display: block;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.sidebar {
	display: none;
}

.sidebar-list {
	margin-bottom: 30px;
	margin-bottom: 1.875rem;
}

@media screen and (min-width: 768px) {

.u-desktop {
	display: block;
}

.u-mobile {
	display: none;
}

html {
	font-size: 1.4545454545vw;
}

a[href^="tel:"] {
	pointer-events: none;
}

a:hover {
	opacity: 0.8;
}

.container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

button.js-drawer-menu {
	display: none;
}

div.js-drawer-menu-list {
	display: none;
}

.main {
	-webkit-box-flex: 2;
	-ms-flex: 2;
	flex: 2;
}

form.search-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.sidebar {
	background: rgb(60, 179, 113);
	display: block;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 1.25rem;
}

}

@media (min-width: 1100px) {

html {
	font-size: 16px;
}

}

@media (max-width: 375px) {

html {
	font-size: 4.2666666667vw;
}

}


/*# sourceMappingURL=styles.css.map */
