@use "global" as *;

button.js-drawer-menu {
    display: flex;
    align-items: center;
    width: rem(30);
    height: rem(30);
    background: rgba(255, 192, 203, 0);
    border: 0;
    padding: rem(5);

    @include mq(md) {
        display: none;
    }
}

button.js-drawer-menu span {
    display: block;
    width: 100%;
    height: rem(2);
    background: rgba(51, 51, 51, 1);
    position: relative;
}

button.js-drawer-menu span::before {
    content: "";
    display: block;
    width: 100%;
    height: rem(2);
    background: rgba(51, 51, 51, 1);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -8px);
}

button.js-drawer-menu span::after {
    content: "";
    display: block;
    width: 100%;
    height: rem(2);
    background: rgba(51, 51, 51, 1);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 8px);
}

button.open span {
    background: rgba(51, 51, 51, 0);
}

button.open span::before {
    transform: rotate(45deg);
    left: 0;
}

button.open span::after {
    transform: rotate(-45deg);
    left: 0;
}

div.js-drawer-menu-list {
    display: none;
    height: 100%;
    overflow: scroll;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgba(255, 255, 255, 1);
    padding-top: rem(50);

    @include mq(md) {
        display: none;
    }
}

div.js-drawer-menu-list-open {
    display: block;
}