@use "global" as *;

button.js-header-menu {
    display: flex;
    align-items: center;
    width: rem(30);
    height: rem(30);
    background: rgba(255, 192, 203, 0);
    border: 0;
    padding: rem(5);

    @include mq(md) {
        display: none;
    }
}

button.js-header-menu span {
    display: block;
    width: 100%;
    height: rem(2);
    background: rgba(51, 51, 51, 1);
    position: relative;
}

button.js-header-menu span::before {
    content: "";
    display: block;
    width: 100%;
    height: rem(2);
    background: rgba(51, 51, 51, 1);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -8px);
}

button.js-header-menu span::after {
    content: "";
    display: block;
    width: 100%;
    height: rem(2);
    background: rgba(51, 51, 51, 1);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 8px);
}

button.open span {
    background: rgba(51, 51, 51, 0);
}

button.open span::before {
    transform: rotate(45deg);
    left: 0;
}

button.open span::after {
    transform: rotate(-45deg);
    left: 0;
}