@use "global" as *;

.sidebar {
    display: none;

    @include mq(md) {
        display: block;
        background: rgba(60, 179, 113, 1);
        padding: rem(20);
        flex: 1;
        // 
    }
}

.sidebar-list {
    margin-bottom: rem(30);

    @include mq(md) {
        // 
    }
}